# Notes
# - No owner is assigned for "*". This means that changes to
#   all other files can be approved by any user with write
#   access to the repo.

# Includes this file, GitHub Actions workflows, and more
/.github  @khaeru @glatterf42

/doc/api/workflow.rst                      @khaeru @glatterf42
/message_ix_models/workflow.py             @khaeru @glatterf42
/message_ix_models/tests/test_workflow.py  @khaeru @glatterf42

# Colleagues responsible for module-specific cost data
/message_ix_models/data/costs/cooling   @adrivinca
/message_ix_models/data/costs/dac       @ywpratama
/message_ix_models/data/costs/material  @macflo8

# All of the above + others
/doc/api/tools-costs.rst              @adrivinca @macflo8 @OFR-IIASA @ywpratama
/message_ix_models/data/costs         @adrivinca @macflo8 @OFR-IIASA @ywpratama
/message_ix_models/data/intratec      @adrivinca @macflo8 @OFR-IIASA @ywpratama
/message_ix_models/tests/tools/costs  @adrivinca @macflo8 @OFR-IIASA @ywpratama
/message_ix_models/tools/costs        @adrivinca @macflo8 @OFR-IIASA @ywpratama

/doc/material                            @macflo8
/message_ix_models/data/material         @macflo8
/message_ix_models/model/material        @macflo8
/message_ix_models/tests/model/material  @macflo8

/doc/transport
/message_ix_models/data/transport         @khaeru @r-aneeque
/message_ix_models/model/transport        @khaeru @r-aneeque
/message_ix_models/tests/model/transport  @khaeru @r-aneeque

/doc/water                            @adrivinca @awais307
/message_ix_models/data/water         @adrivinca @awais307
/message_ix_models/model/water        @adrivinca @awais307
/message_ix_models/tests/model/water  @adrivinca @awais307

# /message_ix_models/project/advance

/doc/project/alps.rst           @byersiiasa @giacfalk @amastrucci
/doc/project/carbon-direct.rst  @ywpratama
/doc/project/cfr.rst            @AlKhourdajie

/doc/project/circeular.rst            @amastrucci @r-aneeque
/message_ix_models/project/circeular  @amastrucci @r-aneeque

/doc/project/ecemf.rst  @behnam-zakeri

# /message_ix_models/project/edits

/doc/project/elevate.rst  @setupelz

# /message_ix_models/project/gea

/doc/project/geidco.rst  @adrivinca
/doc/project/genie.rst   @sreyam-sengupta @ywpratama
/doc/project/guide.rst   @OFR-IIASA @SiddharthJoshi-Git
/doc/project/hyway.rst   @Tyler-lc

/doc/project/navigate.rst            @khaeru
/message_ix_models/project/navigate  @khaeru

/doc/project/newpathways.rst  @yiyi1991 @amastrucci @r-aneeque

# /doc/project/nextgen-carbon.rst

/doc/project/ngfs.rst    @yiyi1991
/doc/project/prisma.rst  @amastrucci @macflo8 @sreyam-sengupta @adrivinca

# /doc/project/shape.rst

/doc/project/sparccle.rst @adrivinca
/doc/project/ssp.rst      @OFR-IIASA
/doc/project/uptake.rst   @ywpratama
