# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.benchmarks
.cache
.coverage
.coverage.*
.hypothesis/
.nox/
.pytest_cache/
.ruff_cache
.tox/
*.cover
*.py,cover
coverage.xml
htmlcov/
nosetests.xml
/prof/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
doc/**/_autosummary/
doc/_build/
doc/*.inv

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# PyCharm
/**/.idea

# Generated and temporary data files
debug/
cache/
# LibreOffice lock files
.~lock*#

# VSCode settings
.vscode

# DS_store
.DS_Store

# Temporary Excel files
*~$*

# Scratch files
*scratch*
message_ix_models/data/ssp/0000000000000-ssp_basic_drivers_release_3.2.beta_full.csv.xz
.gitignore
message_ix_models/data/ssp/1706548837040-ssp_basic_drivers_release_3.0_full.csv.gz
message_ix_models/data/ssp/1721734326790-ssp_basic_drivers_release_3.1_full.csv.gz
.gitignore
message_ix_models/data/ssp/SspDb_country_data_2013-06-12.csv.zip
message_ix_models/data/ssp/1710759470883-ssp_basic_drivers_release_3.0.1_full.csv.gz
message_ix_models/data/ssp/0000000000000-ssp_basic_drivers_release_3.2.beta_full.txt
.gitignore
message_ix_models/data/ssp/SspDb_compare_regions_2013-06-12.csv.zip
.gitignore
message_ix_models/data/ssp/1721734326790-ssp_basic_drivers_release_3.1_full.txt
*.md
hyway_SSP_SSP2_v6.2_baseline_1000f_h2_ct_h2_emissions_h2_report_old.xlsx
hyway_SSP_SSP2_v6.2_baseline_1000f_h2_ct_h2_emissions_h2_report_w_refineries.xlsx
hyway_SSP_SSP2_v6.2_baseline_1000f_h2_ct_h2_emissions_h2_report.xlsx
SSP_SSP2_v5.3.1_baseline_1000f.csv
SSP_SSP2_v5.3.1_baseline_1000f.xlsx
hyway_SSP_SSP2_v6.2_baseline_1000f_h2_ct_h2_emissions_h2_report.xlsx
