repos:
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.14.1
  hooks:
  - id: mypy
    pass_filenames: false
    additional_dependencies:
    - "ixmp @ git+https://github.com/iiasa/ixmp.git@main"
    - "message-ix @ git+https://github.com/iiasa/message_ix.git@main"
    - plotnine
    - pytest
    - sdmx1
    - types-PyYAML
    - types-tqdm
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.9.1
  hooks:
  - id: ruff
  - id: ruff-format
    args: [ --check ]
