prune message_ix_models/data/test/advance
prune message_ix_models/data/test/iea
prune message_ix_models/data/test/MESSAGEix-GLOBIOM_1.1_R11_no-policy_baseline
prune message_ix_models/data/test/ssp
prune message_ix_models/data/water/*
exclude message_ix_models/data/water/*.tar.xz
