# Repository files for development, not distribution
exclude .*
prune .github

# Data for testing
prune message_ix_models/data/test/advance
prune message_ix_models/data/test/gea
prune message_ix_models/data/test/iea
prune message_ix_models/data/test/report
prune message_ix_models/data/test/shape
prune message_ix_models/data/test/snapshot-*
prune message_ix_models/data/test/ssp
prune message_ix_models/data/test/transport

# Larger package data
# - Not distributed on PyPI.
# - Should be fetched with Pooch from GitHub.
prune message_ix_models/data/water/*
prune message_ix_models/data/material/*
exclude message_ix_models/data/water/*.tar.xz
exclude message_ix_models/data/material/*.tar.gz
