# Work around for https://github.com/iiasa/message-ix-models/issues/507
ixmp4<0.15.0
pyam-iamc>=3.2.0

ixmp @ git+https://github.com/iiasa/ixmp.git@main
message-ix @ git+https://github.com/iiasa/message_ix.git@main
