name: Lint

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  # Maximum McCabe complexity for code
  max-complexity: 14

jobs:
  lint:
    runs-on: ubuntu-latest

    continue-on-error: true

    steps:
    - uses: actions/checkout@v2

    - uses: actions/setup-python@v2
      with:
        # This should match the "Latest version testable on GitHub Actions"
        # in pytest.yaml
        python-version: "3.8"

    - name: Cache Python packages
      uses: actions/cache@v2
      with:
        path: |
          ~/.cache/pip
        key: lint-${{ runner.os }}

    - name: Upgrade pip and install requirements
      run: |
        python -m pip install --upgrade pip
        pip install black flake8 isort mypy setuptools-scm twine wheel

    - name: Check "black" code style
      run: black --check .

    - name: Lint with flake8 & isort
      run: |
        flake8 --count --max-complexity=${{ env.max-complexity }} --show-source --statistics
        isort --check-only .

    - name: Check out ixmp
      uses: actions/checkout@v2
      with:
        repository: iiasa/ixmp
        path: ixmp

    - name: Check out message-ix
      uses: actions/checkout@v2
      with:
        repository: iiasa/message_ix
        path: message-ix

    - name: Check typing with mypy
      # Give the paths to ixmp and message_ix sources. These need not be
      # installed for static type checking
      env:
        MYPYPATH: "./ixmp/:./message-ix/"
      # Also install stub packages and others that provide type hints
      run: |
        pip install genno pytest sdmx1 types-PyYAML types-setuptools
        mypy ./message_ix_models
