name: Lint

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  # Maximum McCabe complexity for code
  max-complexity: 12

jobs:
  lint:
    runs-on: ubuntu-latest

    continue-on-error: true

    steps:
    - uses: actions/checkout@v2

    - uses: actions/setup-python@v2

    - name: Cache Python packages
      uses: actions/cache@v2
      with:
        path: |
          ~/.cache/pip
        key: lint-${{ runner.os }}

    - name: Upgrade pip and install requirements
      run: |
        python -m pip install --upgrade pip
        pip install black flake8 isort mypy setuptools-scm twine wheel

    - name: Check "black" code style
      run: black --check .

    - name: Lint with flake8 & isort
      run: |
        flake8 --count --max-complexity=${{ env.max-complexity }} --show-source --statistics
        isort --check-only .

    - name: Check typing with mypy
      # Also install packages that provide type hints
      run: |
        pip install pytest sdmx1
        mypy .
